.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
}

.desc {
	color: grey;
	font-size: 18px;
}

.h1 {
	text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
	margin: 0;
	font-family: "Lato", sans-serif;
}

.header {
	min-height: 100vh;
	background: #009fff;
	background: linear-gradient(to right, #ec2f4b, #009fff);
	color: white;
	clip-path: ellipse(100vw 60vh at 50% 50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.details {
	text-align: center;
}

.card {
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 415px) {
		.site-container {
			flex-direction: row;
		}
	}
}

.location p {
	display: inline-block;
}

.location svg {
	vertical-align: middle;
}

.stats {
	display: flex;
}

.stats .col-4 {
	width: 20rem;
	font-size: 40px;
	font-style: italic;
	text-align: center;
	text-shadow: black;
}

.heading {
	font-weight: 400;
	font-size: 10rem;
	font-style: oblique;
	text-shadow: chartreuse;
	margin: 1rem 0;
}

.stats .p {
	font-size: 40px;
}
